.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 100%; /* Make sure the container doesn't exceed the viewport width */
}

.styled-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    font-size: medium;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #275a6e;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

@media (max-width: 768px) {
    .container {
        overflow-x: auto; /* Add horizontal scroll for smaller screens */
    }

    .styled-table {
        width: 100%;
    }
}
